script(src="/js/libs/react.js")
script(src="/js/libs/react-dom.js")
script(src="/js/libs/jquery-1.12.4.min.js")
script(src="/js/libs/async.min.js")
script(src="/js/libs/strings.js")
script(src="/js/libs/api.js")
script(src="/js/libs/popper.js")
script(src="/js/libs/bootstrap.min.js")

link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')